.large-hero {
  position: relative;

  &__image {
		display: block;
		width: 100%;
	}

  &__logo {
    padding-top: 70px;

    @mixin atSmall {
      padding-top: 0;
      padding-bottom: 40px;
    }

    &-graphic {
      display: block;
      margin-left: auto;
      margin-right: auto;
      transform: scale(.9);
      transform-origin: 50% 100%;

      @mixin atSmall {
        transform: scale(1);
      }
    }

  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }
}
