.our-clients {
  background-color: $ourClientsBackground;
  margin: 0 0 6px 0;
  
  @mixin atSmall {
    margin: 6px;
  }
  
  &--no-margin {
    
    @mixin atSmaller {
      margin: 0;
    }
  }
  
  a:hover {
    display: block;
    background-color: $mainBlue;
    transition: all .2s ease-out;
  }
  
  &__image {
    display: block;
    width: 100%;
  }
}