.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  padding-top: 20px;
  text-align: center;

  @mixin atMedium {
    text-align: left;
  }

  &__icon {
    /*width: 40px;
    border-radius: 20px;*/
    text-decoration: none;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 9px 0px;
    border-radius: 100%;
    margin-right: 5px;

    &--facebook {
      background-color: #37589B;
    }

    &--twitter {
      background-color: #46D4FE;
    }

    &--instagram {
      background-color: #fb3958;
    }
  }
}
